<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Títulos</title>

    <!-- Bootstrap -->
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet">

    <link href="../../static/css/style.css" th:href="@{/css/style.css}"
          rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body { margin-top: 70px; }

        /* miniatura en listado */
        .thumb {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 4px;
            border: 1px solid #ddd;
        }
        .td-img { width: 80px; }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MyGameCollection</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Opciones <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/admin/plataforma/}">Gestión de plataformas</a></li>
                        <li><a th:href="@{/admin/titulo/}">Gestión de títulos</a></li>
                        <li><a th:href="@{/admin/genero/}">Gestión de géneros</a></li>
                        <li><a th:href="@{/admin/region/}">Gestión de regiones</a></li>
                        <li><a th:href="@{/admin/importar-exportar}">Importar y exportar</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container">
    <div class="row">
        <!-- 🔥 MISMO TAMAÑO QUE GÉNEROS -->
        <div class="col-md-offset-2 col-md-8">

            <div class="pull-right" style="margin-bottom: 15px;">
                <a th:href="@{/admin/titulo/nuevo}"
                   class="btn btn-primary">
                    Nuevo título
                </a>
            </div>

            <h1>Listado de títulos</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="td-img">Imagen</th>
                    <th>Nombre</th>
                    <th style="width: 220px;">Operaciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="titulo : ${titulos}">
                    <!-- Imagen (con fallback a notfound.png si está vacío) -->
                    <td class="td-img">
                        <img class="img-responsive"
                             th:src="${#strings.isEmpty(titulo.imagen)} ?
                 '/img/notfound.png' : '/img/games/' + ${titulo.imagen}"
                             alt="Carátula del juego">
                    </td>

                    <td th:text="${titulo.nombre}">Nombre del título</td>

                    <td class="operaciones">
                        <a th:href="@{/admin/titulo/editar/{id}(id=${titulo.id})}"
                           class="btn btn-primary">
                            Editar
                        </a>

                        <button type="button"
                                class="btn btn-danger"
                                data-toggle="modal"
                                data-target="#delete-modal"
                                th:attr="data-id=${titulo.id},data-nombre=${titulo.nombre}">
                            Borrar
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Modal de borrado -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Borrar título</h4>
            </div>

            <div class="modal-body">
                <p>
                    ¿Está usted seguro de borrar el título
                    <strong id="titulo-nombre"></strong>?
                </p>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    No
                </button>
                <a href="#"
                   class="btn btn-danger"
                   id="confirmDeleteTitulo">
                    Sí
                </a>
            </div>

        </div>
    </div>
</div>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $('#delete-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var nombre = button.data('nombre');

        $('#titulo-nombre').text(nombre);
        $('#confirmDeleteTitulo').attr('href', '/admin/titulo/borrar/' + id);
    });
</script>

</body>
</html>
